<html>
    <head>
      <title>remote Impress.js presentation controller</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="<%=host%>/socket.io/socket.io.js"></script>
      <link href="<%=host%>/css/bootstrap.css" rel="stylesheet"></link>
      <script src="<%=host%>/js/bootstrap.js"></script>
      <link rel="stylesheet" href="<%=host%>/google-code-prettify/prettify.css">
      <script src="<%=host%>/google-code-prettify/prettify.js"></script>
      <link href="<%=host%>/css/main.css" rel="stylesheet"></link>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Add two lines of code and control your Impress.js or Deck.js presentation with your phone." />
    </head>
    <body >
      <%-body%>
    </body>
</html>
